<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>betrance</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <script src="assets/js/chart-master/Chart.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>BETRANCE</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">DashGum Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-zac.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-divya.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                    <span class="message">
                                     Hi, I need your help with this.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-danro.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Love your new Dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-sherman.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Please, answer asap.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <li id="" class="dropdown">
                        <a data-toggle="modal" data-target="#addNetworks" class="btn btn-skin btn-login scroll"><i class="fa fa-plus-circle"></i></a>
                    </li>
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

                  <p class="centered"><a href="profile.html"><img src="assets/img/users/andreas_foitzik.jpg" class="img-circle" width="140"></a></p>
                  <h5 class="centered">Andreas Foitzik</h5>

                  <li class="mt">
                      <a href="newsflow.html">
                          <i class="fa fa-rss"></i>
                          <span>PEOPLE's BEACON FLOW</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a class="active" href="networks.html">
                          <i class="fa fa-dashboard"></i>
                          <span>Networks</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="beacons.html" >
                          <i class="fa fa-tag"></i>
                          <span>Beacons</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="settings.html" >
                          <i class="fa fa-cogs"></i>
                          <span>Settings</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="friends.html" >
                          <i class="fa fa-users"></i>
                          <span>Friends</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="charts.html" >
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>Charts</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="morris.html">Morris</a></li>
                          <li><a  href="chartjs.html">Chartjs</a></li>
                      </ul>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
          	<h3><i class="fa fa-angle-right"></i> Current Networks</h3>
          	<div class="row mt">
          		<div class="col-lg-12">

                    <div class="col-lg-4 col-md-4 col-sm-4 mb" data-toggle="modal" data-target="#editNetworks">
                        <div class="content-panel pn">
                            <div id="profile-01">
                            </div>
                            <div class="profile-02 centered">
                                <p>@home IS PART OF YOUR NETWORK</p>
                            </div>
                            <div class="centered">
                                <h6>@home</h6>
                            </div>
                        </div><! --/content-panel -->
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 mb" data-toggle="modal" data-target="#editNetworks">
                        <div class="content-panel pn">
                            <div id="profile-01">
                            </div>
                            <div class="profile-02 centered">
                                <p>@hska IS PART OF YOUR NETWORK</p>
                            </div>
                            <div class="centered">
                                <h6>@hska</h6>
                            </div>
                        </div><! --/content-panel -->
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 mb" data-toggle="modal" data-target="#editNetworks">
                        <div class="content-panel pn">
                            <div id="profile-gym">

                            </div>
                            <div class="profile-01 centered">
                                <p>ENTER @gym</p>
                            </div>
                            <div class="centered">
                                <h6>@gym</h6>
                            </div>
                        </div><! --/content-panel -->
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 mb" data-toggle="modal" data-target="#editNetworks">
                        <div class="content-panel pn">
                            <div id="profile-pacos">

                            </div>
                            <div class="profile-01 centered">
                                <p>ENTER @pacos_restaurant</p>
                            </div>
                            <div class="centered">
                                <h6>@pacos_restaurant</h6>
                            </div>
                        </div><! --/content-panel -->
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 mb" data-toggle="modal" data-target="#editNetworks">
                        <div class="content-panel pn">
                            <div id="profile-cinema">

                            </div>
                            <div class="profile-01 centered">
                                <p>ENTER @cinema</p>
                            </div>
                            <div class="centered">
                                <h6>@cinema</h6>
                            </div>
                        </div><! --/content-panel -->
                    </div>

                </div>
          	</div>
			
		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2015 - betrance by GET-NET
              <a href="panels.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>




  <!-- Modal -->

      <!-- Add Networks -->
      <div class="modal" id="addNetworks" tabindex="-1" role="dialog" aria-labelledby="setAddNetworksLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>

                      <form action="">
                          <legend>Add Network</legend>
                          <div class="form-group">
                              <label for="add_founder">Founder</label>
                              <input id="add_founder" value='' placeholder="Founder" type="text" class="form-control" />
                          </div>
                          <div class="form-group">
                              <label for="add_network">Netzwerk</label>
                              <input value='' id="add_network" placeholder="Network" type="text" class="form-control" />
                          </div>
                          <div class="form-group">
                              <label for="add_description">Description</label>
                              <input value='' id="add_description" placeholder="Description" type="text" class="form-control" />
                          </div>
                          <div class="form-group">
                              <label for="add_beacons">Beacons</label>
                              <input id="add_beacons" value='' placeholder="Beacons" type="text" class="form-control" />
                          </div>
                          <div class="form-group text-center">
                              <button class="btn btn-danger btn-cancel-action">Cancel</button>
                              <input type="submit" class="btn btn-success btn-login-submit" value="Add" />
                          </div>
                      </form>

                  </div>
              </div>
          </div>
      </div>
      <!-- / Add Networks -->

      <!-- Edit Networks -->
      <div class="modal" id="editNetworks" tabindex="-1" role="dialog" aria-labelledby="setEditNetworksLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>

                      <form action="">
                          <legend>Edit Network</legend>
                          <div class="form-group">
                              <label for="add_founder">Founder</label>
                              <input id="del_founder" value='' placeholder="Founder" type="text" class="form-control" />
                          </div>
                          <div class="form-group">
                              <label for="add_network">Netzwerk</label>
                              <input value='' id="del_network" placeholder="Network" type="text" class="form-control" />
                          </div>
                          <div class="form-group">
                              <label for="add_description">Description</label>
                              <input value='' id="del_description" placeholder="Description" type="text" class="form-control" />
                          </div>
                          <div class="form-group">
                              <label for="add_beacons">Beacons</label>
                              <input id="del_beacons" value='' placeholder="Beacons" type="text" class="form-control" />
                          </div>
                          <div class="form-group text-center">
                              <button class="btn btn-danger btn-cancel-action">Cancel</button>
                              <input type="submit" class="btn btn-success btn-login-submit" value="Edit" />
                              <input type="submit" class="btn btn-warning btn-login-submit" value="Remove Network" />
                          </div>
                      </form>

                  </div>
              </div>
          </div>
      </div>
      <!-- / Edit Networks -->

  <!-- / Modal -->

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="assets/js/jquery.sparkline.js"></script>

    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="assets/js/sparkline-chart.js"></script>    
    
    
  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>

  </body>
</html>
